psycopg2~=2.9.5
sqlalchemy~=2.0.8
kaggle
tensorflow_hub
tensorflow
matplotlib~=3.7.1
pandas~=1.5.3
seaborn~=0.12.2
tqdm~=4.65.0
asyncpg
telebot~=0.0.5
emoji~=2.2.0
sentence_transformers
scikit-learn~=1.2.2

numpy~=1.23.5